<div class="header">
  <div class="btn-toolbar pull-right" role="toolbar">
    <div id="bpm-input" class="input-group">
      <span class="input-group-addon">bpm</span>
      <input ng-model="bpm" type="text" class="form-control" placeholder="1-300">
    </div>
    <!-- <div class="btn-group">
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/1'" uncheckable>1/1</label>
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/2'" uncheckable>1/2</label>
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/4'" uncheckable>1/4</label>
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/8'" uncheckable>1/8</label>
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/16'" uncheckable>1/16</label>
      <label class="btn btn-default" ng-model="increment" btn-radio="'1/32'" uncheckable>1/32</label>
    </div> -->
    <div class="btn-group">
      <button type="button" class="btn btn-{{playOnOff ? 'warning' : 'info'}}" ng-init="playOnOff = false" ng-click="playOnOff = !playOnOff"><span class="glyphicon glyphicon-{{playOnOff ? 'pause' : 'play'}}"></span></button>
    </div>
  </div>
  <h3 class="text-muted">hello</h3>
</div>

<div class="jumbotron">

</div>

<div id="track" class="row marketing">
  
</div>

<div class="footer">
  <p>Thanks to <a href="http://watilde.github.io/beeplay" target="_blank">beeplay.js</a> <span class="glyphicon glyphicon-music"></span></p>
</div>
